{% import '_elements' as elements %}

{% set bgImageUrl = '/img/mainstage-image.png' %}
{% set data = craft.entries.section('homePage').one() %}

{% 
  set tabs = data.containerAlphaFields.all()|map(
    x => { 
      title: x.tabTitle,
      description: x.tabDescription,
      link: {
        name: x.tabLinkName,
        url: x.tabLinkUrl,
      }
    }
  )
%}

<section class="container_alpha" style="background-image: url('{{ bgImageUrl }}');">
  <div class="container_alpha__overlay"></div>
  <div class="container_alpha__wrap">
    <div class="container_alpha__tabs-wrap">
      {% for tab in tabs %}
        {% set active = loop.index == 1 ? 'true' : 'false' %}

        <div class="container_alpha__tab" data-active="{{ active }}">
          <h2>{{ tab.title }}</h2>
          <p>{{ tab.description }}</p>
          <div>
            {{ elements.arrowLink({ name: tab.link.name, url: tab.link.url, underline: true }) }}
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="container_alpha__tab-buttons">
      {% for tab in tabs %}
        {% set active = loop.index == 1 ? 'true' : 'false' %}
        <button class="container_alpha__tab-btn" data-active="{{ active }}">
          <span>{{ loop.index }}.</span><span>Innovation Partner</span>
        </button>
      {% endfor %}
    </div>
  </div>
</section>

<script>
  tabsFactory({
    tabItemSelector: '.container_alpha__tab',
    tabButtonSelector: '.container_alpha__tab-btn'
  })
</script>
