{% import '_elements' as elements %}

{% set mocks = {
  title: 'Here we have a two line display intro.',
  description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
    nisi ut aliquip ex ea commodo consequat.',
  link: {
    name: 'Link & Arrow',
    url: '#',
  }
} %}

{% set tabs = [
  { name: 'Tab One', title: mocks.title, description: mocks.description, link: { name: mocks.link.name, url: mocks.link.url } },
  { name: 'Tab Two', title: mocks.title ~ ' 2', description: mocks.description, link: { name: mocks.link.name, url: mocks.link.url } },
  { name: 'Tab Three', title: mocks.title ~ ' 3', description: mocks.description, link: { name: mocks.link.name, url: mocks.link.url } },
] %}

<section class="container-beta">
  <div class="container-beta__tabs">
    {% for tab in tabs %}
      {% set active = loop.index == 1 ? 'true' : 'false' %}
      <div class="container-beta__tab" data-active="{{ active }}">
        <h2>{{ tab.title }}</h2>
        <p>{{ tab.description }}</p>
        <div>{{ elements.button(tab.link.name, 'dark')}}</div>
      </div>
    {% endfor %}
  </div>

  <div class="container-beta__tab-buttons">
    {% for tab in tabs %}
      {% set active = loop.index == 1 ? 'true' : 'false' %}
      {{ elements.tabButton(tab.name, active, 'container-beta__tab-btn') }}
    {% endfor %}
  </div>
</section>

<script>
  tabsFactory({
    tabItemSelector: '.container-beta__tab',
    tabButtonSelector: '.container-beta__tab-btn'
  })
</script>
