{% import '_elements' as elements %}

{% set data = craft.entries.section('homePage').one() %}

{% 
  set tabs = data.containerBetaFields.all()|map(
    x => {
      name: x.tabName,
      title: x.tabTitle,
      description: x.tabDescription,
      link: {
        name: x.tabLinkName,
        url: x.tabLinkUrl,
      }
    }
  )
%}

<section class="container-beta">
  <div class="container-beta__tabs">
    {% for tab in tabs %}
      {% set active = loop.index == 1 ? 'true' : 'false' %}
      <div class="container-beta__tab" data-active="{{ active }}">
        <h2>{{ tab.title }}</h2>
        <p>{{ tab.description|raw }}</p>
        <div>{{ elements.button(tab.link.name, 'dark')}}</div>
      </div>
    {% endfor %}
  </div>

  <div class="container-beta__tab-buttons">
    {% for tab in tabs %}
      {% set active = loop.index == 1 ? 'true' : 'false' %}
      {{ elements.tabButton(tab.name, active, 'container-beta__tab-btn') }}
    {% endfor %}
  </div>
</section>

<script>
  tabsFactory({
    tabItemSelector: '.container-beta__tab',
    tabButtonSelector: '.container-beta__tab-btn'
  })
</script>
