{% set data = craft.entries.section('headerAndFooter').one() %}

{% set logoImgSrc = '/images/' ~ data.logoImage.one().filename %}

{# navLinks :: Array<{ name: string; url: string }> #}
{% set navLinks = data.navigationLinks.all()|map((x) => { name: x.linkName, url: x.linkUrl})  %}

{% set phoneNumber = data.contacts.one().phoneNumber %}
{% set email = data.contacts.one().email %}

{% set hiddenNavBarBottomInfo = data.extraContactsInfo|nl2br %}

{# Desktop header #}

<nav class="nav nav-desktop">
  {% for link in navLinks|slice(0, 3) %}
    {% set activeClass = link.url == craft.app.request.baseUrl ? ' active' : '' %}
    <a class="nav-link{{activeClass}}" href="{{ link.url }}"><span>{{ link.name }}</span></a>
  {% endfor %}

  <a class="nav-link nav-logo" href="/" style="background-image: url('{{ logoImgSrc }}')"></a>

  {% for link in navLinks|slice(3, 7) %}
    {% set activeClass = link.url == craft.app.request.baseUrl ? ' active' : '' %}
    <a class="nav-link{{activeClass}}" href="{{ link.url }}"><span>{{ link.name }}</span></a>
  {% endfor %}
</nav>

{# Tablet/Mobile header #}

<div class="top-gutter"></div>
<div class="nav nav-tablet">
  <a class="nav__phone" href="tel:{{ phoneNumber }}">
    {% include 'svg/_phone-icon' %}
  </a>

  <a class="nav-link nav-logo" href="/" style="background-image: url('{{ logoImgSrc }}')"></a>

  <button class="nav__hamburger-tablet" id="tabletHamburger">
    {% include 'svg/_hamburger-tablet' %}
  </button>
  <button class="nav__hamburger-mobile" id="mobileHamburger">
    {% include 'svg/_hamburger-mobile' %}
  </button>
</div>

{# Hidden mobile menu #}

<div class="mobile-menu" id="mobileMenu">
  <div class="mobile-menu__overlay" id="mobileMenuOverlay"></div>
  <div class="mobile-menu__bar">
    <nav class="mobile-menu__links">
      {% for link in navLinks %}
        <a class="mobile-menu__link" href="{{ link.url }}">{{ link.name }}</a>
      {% endfor %}
    </nav>
    <div>
      <div class="mobile-menu__contact-links">
        <a href="tel:{{ phoneNumber }}"><span>Tel: </span><span>{{ phoneNumber }}</span></a>
        <a href="mailto:{{ email }}"><span>Email: </span><span>{{ email }}</span></a>
      </div>
      <div class="mobile-menu__location-info">
        <p>{{ hiddenNavBarBottomInfo|raw }}</p>
      </div>
    </div>
  </div>
</div>

{# Hidden menu behaviour script #}

<script>;
  (function () {
    var ref = {
      tabletHamburger: document.getElementById('tabletHamburger'),
      mobileHamburger: document.getElementById('mobileHamburger'),
      overlay: document.getElementById('mobileMenuOverlay'),
      menu: document.getElementById('mobileMenu')
    };

    for (var refKey in ref) {
      var val = ref[refKey];

      if (!val) {
        console.error("Can't find reference for: ".concat(refKey));
        return;
      }
    }

    function toggleMenuVisibility() {
      var currentActiveState = ref.menu.dataset.visible;
      var updatedState = currentActiveState === 'true' ? 'false' : 'true';
      ref.menu.setAttribute('data-visible', updatedState);
    }

    ref.tabletHamburger.addEventListener('click', toggleMenuVisibility);
    ref.mobileHamburger.addEventListener('click', toggleMenuVisibility);
    ref.overlay.addEventListener('click', toggleMenuVisibility);
  })();
</script>
