mixin tabButton({ name, mod = ['light'], active = 'false', extraClass })
  button(class=`${cn('tab-button', mod)}${extraClass ? ` ${extraClass}` : ''}`, type='button', data-active=active)
    span= name
